#da-slider p 
{
    color: White;
}

body
{
	background:#EEE;
	color:#3d4445;
	font-family: "Century Gothic", Verdana, sans-serif;
	font-size:16px;
	line-height:1.2em;
	width:100%;
	min-width:960px;
	margin:0 auto;
}

a
{
	text-decoration:none;
	color:#DDD;
}


span.img-buscar
{
	background: url(../img/buscar.png) no-repeat;
	background-size:20px 20px;
	display:block;
	float:right;
	height:20px;
	margin-left:20px;
	width:20px;
}

span.img-polo
{
	background: url(../img/polo.png) no-repeat;
	background-size:20px 20px;
	display:block;
	float:right;
	height:20px;
	margin-left:20px;
	width:20px;
}

span.img-ingresar
{
	background: url(../img/user.png) no-repeat;
	background-size:20px 20px;
	display:block;
	float:right;
	height:20px;
	margin-left:20px;
	width:20px;
}

span.separador
{
	border-right:2px dotted #DDD;
	display:block;
	height:20px;
	margin:0 30px 0 30px;
	width:1px;
}

/*HEADER-PRINCIPAL*/
.wrapper
{
	background:#1a1d1d;
	height:100px;
	min-width:960px;
	position:fixed;
	top: 0px;
	width:100%;
	z-index:5000;
}

#logo
{
	background: url(../img/logo.png) no-repeat;
	background-size:80px 80px;
	display:block;
	float:left;
	height:80px;
	margin:10px 0px 0px 60px;
	text-indent:-9999px;
	width:80px;
}
#logo:hover 
{
	-moz-animation-direction:alternate;
	-moz-animation-duration:.5s;
	-moz-animation-iteration-count:1;
	-moz-animation-name:rotate_bounce;
	-moz-animation-timing-function:ease-out;
	-webkit-animation-direction:alternate;
	-webkit-animation-duration:.5s;
	-webkit-animation-iteration-count:1;
	-webkit-animation-name:rotate_bounce;
	-webkit-animation-timing-function:ease-out
}

nav#menu
{
	margin: 0 100px 0 0;
	position:absolute;
	right: 0px;
	top: 50px;	
}

nav#menu ul li
{
	display:inline;
	float:left;
}

nav#menu #buscar{border: 1px solid #1A1D1D;padding: 4px 7px;width: 120px;background-color:#DDD;margin-top:-7px;
							-webkit-transition: width ease-in 0.7s,background-color ease-in 0.7s;
							-moz-transition: width ease-in 0.7s,background-color ease-in 0.7s;
							-ms-transition: width ease-in 0.7s,background-color ease-in 0.7s;
							-o-transition: width ease-in 0.7s,background-color ease-in 0.7s;
							-webkit-border-radius: 7px;
							-moz-border-radius: 7px;
							-ms-border-radius: 7px;
							-o-border-radius: 7px;}
nav#menu #buscar:focus{width:170px;background-color:#FFF;}

/*Menu*/

article
{
	min-width:960px;
	width: 960px;
	margin: 120px auto 20px auto;
}
article ul li{clear:both;}
ul#contenedor{position:relative;}
li#redes,li#productos{display:inline;float:left;}
ul#contenedor li#redes{width:290px;position: absolute;top: 0px;left: 650px;margin-left: 10px;}
ul#contenedor li#productos{width:630px;}

ul li.principales figure{display:block;float:left;}
ul li.principales h3{font-size:1.3em;padding: 8px 20px;}
ul li.principales figure{margin: 10px 15px;}
ul li.principales {margin-bottom: 210px;}

.thumb{	border: 8px solid #adacae;position:relative;overflow:hidden;border-radius:5px;}
.thumb section{	background: #000;padding:10px;height:140px;}
.thumb p{	line-height:18px;}
.thumb img{	position:absolute;left:-14px;}

#twitter, #facebook{width:50px;}
#twitter ul li, #facebook ul li{display:inline; float:left;padding:15px 0;}
#twitter h3, #facebook h3{font-size:1.3em;padding: 8px 20px;}
#twitter ul li span, #facebook ul li span{margin-left: 60px;display: block;margin-top: -50px;width:200px;font-size:0.9em;}

/*footer*/
footer
{
	margin-top:50px;
	float:left;
	width:100%; 
	
}
footer .registra
{
	text-align: center;
	line-height: 3.2em;
}
footer .registra h4
{
	font-size:1.6em;
}
footer .registra h5, footer .registra a
{
	font-size:1.1em;
	color: #3D4445;
}
footer  .oferta
{
	
	height: 553px;
	width: 276px;
}

footer .oferta span
{
	background: url(../img/negocia.png) no-repeat 0 0;
	display:block;
	height: 138px;
	width: 553px;
	margin: 0 auto;
}

footer .oferta span:hover
{
	background: url(../img/negocia.png) no-repeat 0 -138px;
}


footer #contacto
{
	background: #1A1D1D;
	padding: 30px 20px; 
	height: 120px;
}

footer ul li.lista_footer
{
	float:left;
}
/*Animacion*/
@-moz-keyframes rotate_bounce{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
70%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
85%{transform:rotate(355deg);-o-transform:rotate(355deg);-ms-transform:rotate(355deg);-moz-transform:rotate(355deg);-webkit-transform:rotate(355deg)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-webkit-keyframes rotate_bounce{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
70%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
85%{transform:rotate(355deg);-o-transform:rotate(355deg);-ms-transform:rotate(355deg);-moz-transform:rotate(355deg);-webkit-transform:rotate(355deg)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-o-keyframes rotate_bounce{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
70%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
85%{transform:rotate(355deg);-o-transform:rotate(355deg);-ms-transform:rotate(355deg);-moz-transform:rotate(355deg);-webkit-transform:rotate(355deg)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-ms-keyframes rotate_bounce{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
70%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
85%{transform:rotate(355deg);-o-transform:rotate(355deg);-ms-transform:rotate(355deg);-moz-transform:rotate(355deg);-webkit-transform:rotate(355deg)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@keyframes rotate_bounce{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
70%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
85%{transform:rotate(355deg);-o-transform:rotate(355deg);-ms-transform:rotate(355deg);-moz-transform:rotate(355deg);-webkit-transform:rotate(355deg)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-moz-keyframes rotate{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-webkit-keyframes rotate{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-o-keyframes rotate{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@-ms-keyframes rotate{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}@keyframes rotate{0%{transform:rotate(0);-o-transform:rotate(0);-ms-transform:rotate(0);-moz-transform:rotate(0);-webkit-transform:rotate(0)}
100%{transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg)}
}