body
{
	background: hsl(0, 0%, 96%);
	color: #3d4445;
	font-family: 'Calibri', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 1.25em;
	margin: 0 auto;
	min-width: 960px;
	width: 100%;
}

a
{
	color: hsl(0, 0%, 27%);
	text-decoration: none;
	font-weight: bold;
}

header
{
    
}

header > div
{
	width: 960px;
	padding: 50px 0px;
	margin: 0 auto;
}

header #login 
{
    float: right;
    font-size: 110%;
    position: relative;
    bottom: 13px;
    color: hsl(140, 75%, 40%);
}

header h1 
{
	font-size: 3em;
	position: relative;
}

header h1:after 
{
    content: "Threadmore!";
    position: absolute;
    font-weight: bold;
    color: hsla(150, 30%, 70%, 0.3);
    top: 0.4em;
    left: 0.4em;
    z-index: -1;
    font-size: 180%;
}

#the-polo
{
    overflow: hidden;
    width: 960px;
    margin: 3em auto;  
    height: 460px;
}

#polo
{
    width: 636px;
    border: 1px solid #444;
    position: relative;
    overflow: hidden;
    float: left;
}

#polo, #buy-polo
{
    height: 100%;
}

#buy-polo 
{
    float: right;
    width: 310px;
}

#price, #remaining
{
    color: hsl(0, 0%, 88%);
    font-size: 2em;
    padding: 0.5em;
    background-color: hsl(0, 0%, 14%);
    width: auto;
    letter-spacing: 0.1em;
    position: absolute;
    border-bottom: 1px dashed hsl(150, 20%, 50%);
    top: 0px;
}

#price 
{
    right: 0px;
    border-left: 1px dashed hsl(0, 20%, 50%);
}

#remaining
{
    left: 0px;
    border-right: 1px dashed hsl(0, 30%, 50%);
}

#polo img 
{
    width: 636px;
}