/* line 17, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

#ContentPlaceHolder1_CrystalReportViewer1
{
    width: 828px;
    overflow: scroll;    
}

/* line 22, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.sass */
body {
  background: #585e65;
  font-family: sans-serif;
}

/* line 7, ../sass/screen.sass */
#wrapper {
  margin: auto;
  overflow: auto;
  width: 1200px;
}



/* line 12, ../sass/screen.sass */
.sidebar, .content-wrapper {
  margin-top: 1.5em;
}

/* line 15, ../sass/screen.sass */
.sidebar {
  color: white;
  font-size: 1.15em;
  margin-left: 2px;
  margin-top: 1.5em;
  margin-right: 30px;
  position: fixed;
  width: 288px;
}
/* line 24, ../sass/screen.sass */
.sidebar a {
  color: white;
  display: inline-block;
  padding: 0.75em;
  text-decoration: none;
  width: 100%;
}
/* line 31, ../sass/screen.sass */
.sidebar > li {
  background: #3d3f43;
  border: 1px solid black;
  border-radius: 7px;
  margin-bottom: 1.5em;
}
/* line 37, ../sass/screen.sass */
.sidebar .user {
  background: -webkit-linear-gradient(top, #939a9f 0%, #7a7a7a 100%);
  box-shadow: 0 0 0.25em #2c2e30, inset 0 1px 0 #c9cccf;
  text-shadow: 0 -0.15em 0.05em #666666;
}
/* line 42, ../sass/screen.sass */
.sidebar .menu {
  box-shadow: 0 1px 0 #788087, inset 0 2px 0 #303236;
}
/* line 45, ../sass/screen.sass */
.sidebar .menu li {
  border-bottom: 1px solid black;
  box-shadow: inset 0 1px 0 #55585e;
}
/* line 49, ../sass/screen.sass */
.sidebar .menu li:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: none;
}
/* line 54, ../sass/screen.sass */
.sidebar .menu li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* line 59, ../sass/screen.sass */
.sidebar .menu .active {
  background: #292929;
  box-shadow: inset 0 2px 0 #222325;
}
/* line 63, ../sass/screen.sass */
.sidebar .menu .active:first-child {
  box-shadow: inset 0 2px 0 #222325;
}
/* line 66, ../sass/screen.sass */
.sidebar .menu .active a {
  color: #99ccff;
}
/* line 69, ../sass/screen.sass */
.sidebar .settings {
  background: -webkit-linear-gradient(top, #6b737b 0%, #585e65 100%);
  box-shadow: 0 1px 0 #788087, inset 0 1px 0 #8b9298;
  text-shadow: 0 -0.15em 0.05em #4d4d4d;
}

/* line 74, ../sass/screen.sass */
.content-wrapper {
  position: relative;
  left: 320px;
  width: 830px;
  margin: 0 10px;
}

/* line 80, ../sass/screen.sass */
#header {
  color: #22252a;
  background: #bcbfc2;
  background: -webkit-linear-gradient(top, #bcbfc2 0%, #b4b8bb 50%, #a0a9ac 51%, #97a1a5 100%);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid black;
  box-shadow: 0 0 0.5em black, 0 0.25em 0.5em #999999, inset 0 1px 0 #f2f2f2, inset 0 -1px 0 #bcbfc2;
  font-weight: bold;
  margin-top: 1.7em;
  position: relative;
  text-align: center;
  text-shadow: 0 0.1em 0.05em #e5e6e6;
  z-index: 100;
}
/* line 95, ../sass/screen.sass */
#header h1 {
  font-size: 1.25em;
}
/* line 98, ../sass/screen.sass */
#header h1 a {
  color: inherit;
  display: inline-block;
  padding: 0.6em;
  text-decoration: none;
}

/* line 104, ../sass/screen.sass */
.content {
  background: #fafafa;
  background: -webkit-linear-gradient(top, white 0%, #fafafa 100%);
  border: 1px solid black;
  border-top: none;
  line-height: 1.5em;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 1px 0 #788087;
  margin-bottom: 2em;
}
/* line 115, ../sass/screen.sass */
.content .fields {
  padding: 1em;
  padding-top: 1.5em;
}
/* line 119, ../sass/screen.sass */
.content .fields li {
  margin-bottom: 0.5em;
  position: relative;
}

.validation 
{
    position: absolute;
    right: 0.5em;
    top: 0.2em;
    color: #8A0F0F;
}

/* line 122, ../sass/screen.sass */
.content .fields label {
  color: #4d4d4d;
  display: inline-block;
  text-align: right;
  margin-right: 5px;
  width: 225px;
}
/* line 129, ../sass/screen.sass */
.content .fields input[type="text"], .content .fields input[type="password"] {
  border: 1px solid #999999;
  border-radius: 3px;
  font-size: 1em;
  padding: 4px;
  width: 220px;
}
/* line 136, ../sass/screen.sass */
.content .buttons {
  background: #494b50;
  background: -webkit-linear-gradient(top, #575f60 0%, #35373b 100%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid black;
  box-shadow: inset 0 1px 0 #798386;
  overflow: auto;
}
/* line 145, ../sass/screen.sass */
.content .buttons li {
  float: left;
}
/* line 148, ../sass/screen.sass */
.content .buttons input[type="submit"], .content .buttons button {
  background: #61646b;
  background: -webkit-linear-gradient(top, #8c8c8c 0%, #595959 100%);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: inset 0 0 1px #999999, 0 1px 0 #595959;
  color: white;
  cursor: pointer;
  font-size: 1em;
  height: 30px;
  margin: 8px 0;
  margin-left: 8px;
  text-shadow: 0 -1px 0 #333333;
  width: 124px;
}
/* line 163, ../sass/screen.sass */
.content .buttons input.main {
  background: #267fd9;
  background: -webkit-linear-gradient(top, #5299e0 0%, #1f6bad 100%);
  box-shadow: inset 0 0 1px #7db2e8, inset 0 1px 0 rgba(168, 204, 240, 0.75), 0 1px 0 #595959;
}

th 
{
    text-transform: capitalize
}

td 
{
    padding: 0.65em;

}

.select_button a
{
  display: block;
  background: #267fd9;
  background: -webkit-linear-gradient(top, #5299e0 0%, #1f6bad 100%);
  box-shadow: inset 0 0 1px #7db2e8, inset 0 1px 0 rgba(168, 204, 240, 0.75), 0 1px 0 #595959;
  border-radius: 4px;
  color: white;
  padding: 0.2em 0.4em;
  text-decoration: none;
  text-transform: lowercase;
  border: 1px solid black;
  margin-right: 1em;
}

.rowSelected 
{
    background-color: hsla(0, 0%, 60%, 0.8);
}

#loader {
    width: 30px;
    height: 30px;
    padding-top: 11px;
    padding-left: 12px;
}